:root {
  --medium-blue: hsl(200, 100%, 46%);
  --medium-dark-blue: hsl(200, 100%, 38%);
  --dark-blue: hsl(200, 100%, 10%);
  --red: hsl(0, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --transparent: hsla(0, 0%, 0%, 0.5);
}

html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  background-image: url(./images/bg-image.png);
  background-color: var(--medium-blue);
  margin: 0;
}

button {
  color: var(--white);
  background-color: var(--medium-dark-blue);
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 1em;
}

button:active {
  box-shadow: inset 0.25em 0.25em 0.25em hsla(0, 0%, 0%, 0.5);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2em;
}

.start-container {
  color: var(--dark-blue);
  background-color: var(--white);
  border-radius: 1em;
  box-shadow: 8px 8px 24px hsla(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 50%;
  padding: 3em 4em;
}

.modal-wrapper {
  background-color: var(--transparent);
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal {
  background-color: white;
  position: relative;
  top: 10%;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  border-radius: 0.5em;
  padding: 2em;
  width: 80%;
}

.modal-title {
  font-size: 2rem;
  margin: 0;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--red);
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  padding: 0.12em 0.5em;
}

.modal-close-btn:active {
  box-shadow: none;
  margin-top: 1px;
}

.start-container > button {
  min-width: 200px;
  font-size: 1rem;
  margin-bottom: 0.75em;
}

.title {
  user-select: none;
  font-size: 2.5rem;
  margin: 0;
}

.description {
  margin-bottom: 2em;
}

.trivia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.trivia-card {
  background-color: var(--white);
  border-radius: 1em;
  box-shadow: 4px 4px 16px hsla(0, 0%, 0%, 0.5);
  padding: 2em 3em;
}

.question-row {
  display: flex;
  align-items: center;
}

.question-number,
.question-text {
  margin: 0 0 1em;
}

.question-number {
  margin-right: 0.5em;
}

.question-text {
  font-size: 1.25rem;
}

.answer-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.question-row {
  display: flex;
  align-content: center;
}

.answer-btn {
  user-select: none;
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  width: 40%;
  border-radius: 0.5em;
  padding: 0.5em;
}

.selected {
  color: var(--white);
  background-color: var(--medium-blue);
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.submit-answer-btn,
.next-question-btn {
  margin-top: 2em;
}
